:root {
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(0, 0%, 0%);

  --clr-base: light-dark(var(--clr-light), var(--clr-dark));
  --clr-base-inv: light-dark(var(--clr-dark), var(--clr-light));
}

html {
  color-scheme: light dark;
}

html[data-theme=light] {
  color-scheme: light;
}

html[data-theme=dark] {
  color-scheme: dark;
}

body {
  background-color: var(--clr-base);
  color: var(--clr-base-inv);
  transition: background-color, color, .2s;
}

body:has(input[value='dark']:checked) {
  color-scheme: dark;
}

body:has(input[value='light']:checked) {
  color-scheme: light;
}