:root {
  --base: 4px;
  --preferred: 2.5vw;
  /* --preferred: round(2.5vw, 4px); */
  
  --indent-80-48: clamp(48px, var(--preferred), 80px);
  --indent-64-40: clamp(40px, var(--preferred), 64px);
  --indent-48-32: clamp(32px, var(--preferred), 48px);
  --indent-40-32: clamp(32px, var(--preferred), 40px);
  --indent-32-24: clamp(24px, var(--preferred), 32px);
  --indent-24-16: clamp(16px, var(--preferred), 24px);
  --indent-20-16: clamp(16px, var(--preferred), 20px);
  --indent-16-12: clamp(12px, var(--preferred), 16px);
  --indent-12-8: clamp(8px, var(--preferred), 12px);
  --indent-8-4: clamp(4px, var(--preferred), 8px);

  --inner-radius: var(--base);
  --outer-radius: calc(var(--base) * 2);
}
