.wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--indent-16-24) 0;

  @media (max-width: 960px) {
    backdrop-filter: saturate(180%) blur(5px);
    flex-direction: row;
    height: auto;
    padding: 0;
  }

  & > *:first-child { @media (max-width: 960px) { order: 2;} }
  & > *:nth-child(2) { @media (max-width: 960px) { order: 1;} }
  & > *:nth-child(3) { @media (max-width: 960px) { order: 3;} }
}

.toggle_icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><circle cx="8" cy="8" r="8"/></svg>');
  
  &:first-of-type {
    filter: invert(1);
  }
}

.button {
  background-color: var(--base-clr-inv);
  background-position: 50%;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
  
  &:first-of-type {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 16" width="24px">  <g>    <path d="M0 0l24 0 0 0 -12 8 -12 -8 0 0zm24 2.404l0 11.193 -8.394 -5.597 8.394 -5.596zm-10.197 6.798l10.197 6.798 -24 0 0 0 10.197 -6.798 1.248 0.832 0 0 0.555 0.37 0.555 -0.37 0.455 -0.303 0.793 -0.529zm-5.409 -1.202l-8.394 5.596 0 -11.192 8.394 5.596z" /></g></svg>');
  }

  @media (max-width: 960px) {
    background-color: transparent;
  }
}
