.wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--indent-16-24) 0;

  @media (--desktop) {
    backdrop-filter: saturate(180%) blur(5px);
    flex-direction: row;
    height: auto;
    padding: 0;
  }
}